{% extends 'trainers/base.html' %}
{% block title %}Create Workout{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% if success_message %}
            <div class="alert alert-success">
                <strong>{{ success_message }}</strong>
            </div>
            <script>
                setTimeout(function() {
                    document.querySelector('.alert-success').style.display = 'none';
                }, 5000);  // Hide the success message after 5 seconds
            </script>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Workout</button>
        </form>
    </div>
</div>
{% endblock %}
