<!-- upload_video.html -->
{% extends 'trainers/base.html' %}
{% block content %}
<h2>Upload Video</h2>
<form method="post" enctype="multipart/form-data" id="upload-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" id="upload-btn">Upload</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // Add event listener to the upload button
    document.getElementById("upload-btn").addEventListener("click", function() {
        // Prevent the default behavior of the form submission
        event.preventDefault();

        // Submit the form using AJAX
        var form = document.getElementById("upload-form");
        var formData = new FormData(form);

        // Send AJAX request
        fetch("{% url 'upload_video' %}", {
            method: "POST",
            body: formData
        })
        .then(response => {
            if (response.ok) {
                // If upload is successful, show success message and clear the form
                return response.text();
            } else {
                // If upload fails, show error message
                throw new Error('Upload Failed!');
            }
        })
        .then(data => {
            // Display the success message
            showSuccessToast(data);
            // Clear the form fields
            clearFormFields();
        })
        .catch(error => {
            // Handle any errors that occur during the upload process
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
                confirmButtonText: 'OK'
            });
        });
    });

    // Function to show toastr success message
    function showSuccessToast(message) {
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: message,
            confirmButtonText: 'OK'
        }).then((result) => {
            // If "OK" is clicked, reload the page
            if (result.isConfirmed) {
                window.location.reload();
            }
        });
    }

    // Function to clear form fields
    function clearFormFields() {
        var form = document.getElementById("upload-form");
        form.reset();
    }
</script>
{% endblock %}
